<!DOCTYPE html></ul>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">back to user index</a>
    </nav>
    <h1><%= photo.name %></h1>
    <section>
        <img src="<%= photo.img %>"><br>
        <a href="/photos/<%= photo._id %>/edit">edit <%= photo.name %></a>
        <br>
        <br>
        <form method="POST" action="/photos/<%= photo._id %>?_method=DELETE">
            <input type="submit" value="delete <%= photo.name %>">
        </form>
    </section>
</body>
</html>