<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">back to user index</a>
    </nav>
    <h1><%= data.name %></h1>
    <section>
        <a href="<%= data._id %>/edit">edit <%= data.name %></a><br>
        <form method="POST" action="/<%= data._id %>?_method=DELETE">
            <input type="submit" value="delete <%= data.name %>">
        </form>
    </section>
    <br>
    <h2><%= data.name %>'s photos:</h2>
    <section>
        <ul>
            <% if(photos){for(let i=0; i<photos.length; i++){ %>
                <li>
                    <img src="<%= photos[i].img %>"><br>
                    <form method="POST" action="/<%= data._id %>/<%= photos[i]._id %>?_method=DELETE">
                        <input type="submit" value="delete <%= photos[i].name %>">
                    </form>
                </li>
            <% }} %>
        </ul>
        <p><a href="/<%= data._id %>/new-photo">add a new photo</a></p>
    </section>
</body>
</html>